core/src/main/resources/META-INF/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://zstack.org/schema/zstack"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://zstack.org/schema/zstack" elementFormDefault="qualified"
            attributeFormDefault="unqualified">

	<xsd:element name="globalConfig">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded" minOccurs="0">
				<xsd:element name="config">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="name" ticketTypeCode="xsd:string" minOccurs="1"></xsd:element>
							<xsd:element name="category" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="description" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="ticketTypeCode" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="validatorRegularExpression" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="defaultValue" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="value" ticketTypeCode="xsd:string"></xsd:element>
							<xsd:element name="hidden" ticketTypeCode="xsd:boolean"></xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
